<!DOCTYPE html>
<html ng-app="Md1">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <title>练习题</title>

</head>
<body>
<div class="container" ng-controller="Mc1">
    <h3>{{sd.sname}}</h3>
    <h3>{{sd.age}}</h3>
    <h3>{{sd.fex}}</h3>
    <h3>{{sd.love}}</h3>
    <br/>
    <h3>{{sname}}</h3>
    <h3>{{age}}</h3>
    <h3>{{fex}}</h3>
    <h3>{{love}}</h3>
    <br/>
    <br/>
    <ol>                                                <!-- 题二：方法一-->
        <li>{{str[0]}}</li>
        <li>{{str[1]}}</li>
        <li>{{str[2]}}</li>
        <li>{{str[3]}}</li>
        <li>{{str[4]}}</li>
    </ol>
    <h3>循环输出</h3>                                       <!--题二：方法二-->
    <ol>
        <li ng-repeat="v in str">{{v}}</li>                 <!--创建一个函数v，in=在 str内循环遍历-->
    </ol>
    <ul>
        <li ng-repeat="(k,v) in str">{{k+1}}-{{v}}</li>         <!--K输出的是下标-->
    </ul>

    <br /><br /><br />
    <table class="table bg-success">
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>品牌</th>
            <th>价格</th>
            <th>日期</th>
            <th>样品</th>
        </tr>
        <tr ng-repeat="(x,pro) in td">              <!--x是下标，Pro是函数，Pro在td方法内循环。-->
            <td>{{x}}</td>                          <!--x是下标-->
            <td>{{pro.name}}</td>                   <!--函数在方法内循环输出-->
            <td>{{pro.logo}}</td>
            <td>{{pro.moery}}</td>
            <td>{{pro.time}}</td>
            <td><img ng-src="img/{{pro.yang}}" alt="img"/></td>
        </tr>
    </table>
</div>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/angular.js"></script>
<script>
    angular.module("Md1",[]).controller("Mc1",function($scope){
//       题一：方法二  推荐方法
        $scope.sd={"sname":"小明","age":18,"fex":"men",love:"women"}
//      题一：方法一
        $scope.sname="小明"
        $scope.age=18
        $scope.fex="men"
        $scope.love="women"
//      题二：
        $scope.str=[10,20,30,40,50];
//      题三：
        $scope.td=[
            {"name":"火腿","logo":"双汇","moery":"$99","time":1999,"yang":"1.jpg"},
            {"name":"面膜","logo":"韩束","moery":"$990","time":1990,"yang":"2.jpg"},
            {"name":"辣条","logo":"唐僧肉","moery":"$9.9","time":1982,"yang":"3.jpg"}
            ]
    })
</script>

</body>
</html>