<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="../css/bootstrap.css"/>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>表格分页——动态请求数据</title>
</head>
<body>
<style>
    nav li {
        cursor: pointer;
    }
</style>
<div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">
    <table class="table table-bordered">
        <tr>
            <th>index</th>
            <th ng-repeat="(x,y) in items[0]">{{ x }}</th>
        </tr>
        <tr ng-repeat="x in items">
            <td>{{ $index + 1 }}</td>
            <td ng-bind="x.Name"></td>
            <td ng-bind="x.status"></td>
            <td ng-bind="x.target"></td>
            <td ng-bind="x.status_date|date:'yyyy-MM-dd hh:mm:ss'"></td><!--//"status_date": "1477634049000"的值是年月日时分秒转换来的-->
        </tr>
    </table>
    <nav>
        <ul class="pagination">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                <a ng-click="selectPage(page)" >{{ page }}</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.js"></script>
<script>
    var app = angular.module("myApp", []);
 app.service("pageFunc",function(){
       this.pages = function(Data){
             //分页总数
            $scope.pageSize = 5;
            $scope.pages = Math.ceil(Data.length / $scope.pageSize); //分页数
            $scope.newPages = $scope.pages > 5 ? 5 : $scope.pages;
            $scope.pageList = [];
            $scope.selPage = 1;
            //设置表格数据源(分页)
            $scope.setData = function () {
                $scope.items= Data.slice(($scope.pageSize * ($scope.selPage - 1)), ($scope.selPage * $scope.pageSize));//通过当前页数筛选出表格当前显示数据
            }

               $scope.items = Data.slice(0, $scope.pageSize);

            //分页要repeat的数组
            for (var i = 0; i < $scope.newPages; i++) {
                $scope.pageList.push(i + 1);
            }
            //打印当前选中页索引
            $scope.selectPage = function (page) {
            //不能小于1大于最大
                if (page < 1 || page > $scope.pages) return;
                //最多显示分页数5
                if (page > 2) {
                    //因为只显示5个页数，大于2页开始分页转换
                    var newpageList = [];
                    for (var i = (page - 3) ; i < ((page + 2) > $scope.pages ? $scope.pages : (page + 2)) ; i++) {
                        newpageList.push(i + 1);
                    }
                    $scope.pageList = newpageList;
                }
                $scope.selPage = page;
                $scope.setData();
                $scope.isActivePage(page);
                console.log("选择的页：" + page);
            };
            //设置当前选中页样式
            $scope.isActivePage = function (page) {
                return $scope.selPage == page;
            };
            //上一页
            $scope.Previous = function () {
                $scope.selectPage($scope.selPage - 1);
            }
            //下一页
            $scope.Next = function () {
                $scope.selectPage($scope.selPage + 1);
            };
        }
    })


    app.controller("myCtrl", function ($scope, $http, pageFunc) {
//        $http.get("http://172.27.161.110:8080/sysFunction_getParentFunctionList.action").then(function (response) {
            //数据源
//            $scope.data = response.data.records;

       pageFunc.pages([
            {"Name": "用户管理","status": "A","target": "www.baidu.com","status_date": "1477634049000" },//status_date的值是年月日时分秒转换来的
            {"Name": "产品管理","status": "B","target": "www.baidu.com","status_date": "1477634049000" },
            {"Name": "系统管理","status": "C","target": "www.baidu.com","status_date": "1477633049000" },
            {"Name": "功能管理","status": "D","target": "www.baidu.com","status_date": "1477634059000" },
            {"Name": "属性管理","status": "E","target": "www.baidu.com","status_date": "1477634069000" },
            {"Name": "逻辑管理","status": "F","target": "www.baidu.com","status_date": "1477664549000" },
            {"Name": "客户管理","status": "G","target": "www.baidu.com","status_date": "1477674049000" },
            {"Name": "余额管理","status": "H","target": "www.baidu.com","status_date": "1477684049000" },
            {"Name": "产品管理","status": "I","target": "www.baidu.com","status_date": "1477694049000" },
            {"Name": "产品管理","status": "J","target": "www.baidu.com","status_date": "1477634049000" },
            {"Name": "产品管理","status": "K","target": "www.baidu.com","status_date": "1477674049000" },
            {"Name": "用户管理","status": "A","target": "www.baidu.com","status_date": "1477354049000" },
            {"Name": "产品管理","status": "B","target": "www.baidu.com","status_date": "1477534049000" },
            {"Name": "系统管理","status": "C","target": "www.baidu.com","status_date": "1477254049000" },
            {"Name": "功能管理","status": "D","target": "www.baidu.com","status_date": "1477224049000" },
            {"Name": "属性管理","status": "E","target": "www.baidu.com","status_date": "1442634049000" },
            {"Name": "逻辑管理","status": "F","target": "www.baidu.com","status_date": "1456634049000" },
            {"Name": "客户管理","status": "G","target": "www.baidu.com","status_date": "1434634049000" },
            {"Name": "余额管理","status": "H","target": "www.baidu.com","status_date": "1464634049000" },
            {"Name": "产品管理","status": "I","target": "www.baidu.com","status_date": "1443634049000" },
            {"Name": "产品管理","status": "J","target": "www.baidu.com","status_date": "1427634049000" },
            {"Name": "产品管理","status": "K","target": "www.baidu.com","status_date": "1479634049000" },

        ])



//        });

    })

</script>
</body>
</html>