<!DOCTYPE html>
<html ng-app="Md1">

<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/bootstrap.css" />
  <script src="../js/jquery-1.11.3.js"></script>
  <script src="../js/angular.js"></script>
  <title>四大特性之二 双向数据绑定</title>
</head>

<body>
  <div class="container" ng-controller="Mc1">
    <!--============model（模块）和view（视窗）同时变换==============-->
    <botton class="btn btn-warning">{{n}}</botton>
    <!--============点击一下按钮 加一 ==============-->
    <h3>{{v}}</h3>
    <buuton class="btn btn-success" ng-click="add()">加一</buuton>
    <br />
    <!--============换图==============-->
    <img ng-src="../imgs/{{i}}.jpg" alt="" />
    <br />
    <buuton class="btn btn-success" ng-click="next()">上一张</buuton>
    <buuton class="btn btn-success" ng-click="prve()">下一张</buuton>
  </div>
  <script>
  angular.module("Md1", []).controller("Mc1", function($scope, $interval) {
    //============model（模块）和view（视窗）同时变换==============
    $scope.n = 10;
    $interval(function() { //$interval定时器
      $scope.n++; //n自加1
      console.log($scope.n); //控制台输出n
    }, 1000) //每一秒输出一次
    //============点击一下按钮 加一 ==============
    $scope.v = 0;
    $scope.add = function() {
      $scope.v++;
    }
    //============换图==============
    $scope.i = 1; //声明 i=1
    $scope.next = function() { //点击next执行function里的内容
      if ($scope.i < 4) { //如果i<4
        $scope.i++; //则i自加1
      } else { //否则
        $scope.i = 1; //i=1;
      }
    }
    $scope.prve = function() {
      if ($scope.i > 1) {
        $scope.i--;
      } else {
        $scope.i = 4;
      }
    }
  })
  </script>
</body>

</html>