<!DOCTYPE html>
<html ng-app="Md1">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <script src="../js/jquery-1.11.3.js"></script>
    <script src="../js/angular.js"></script>
    <title>事件监听</title>
</head>
<body>
<div class="container" ng-controller="Mc1">

    <input type="text" ng-model="date"/><p>{{date}}</p>
    <h3>{{fex}}</h3>
    <input type="radio" value="n" ng-model="fex"/>男
    <input type="radio" value="w" ng-model="fex"/>女
    <h3>{{agree}}</h3>
    <input type="checkbox" ng-model="agree"/>我同意
    <h3>{{city}}</h3>
    <select ng-model="city">
        <option value="bj">北京</option>
        <option value="sh">上海</option>
        <option value="gz">广州</option>
    </select>
    <h3>总数：{{a * b}}</h3>
    单价<input type="number" ng-model="a"/>数量<input type="number" ng-model="b"/>
    <br/>
    <img ng-src="../imgs/{{title}}.jpg" alt=""/>
    <select ng-model="title">
        <option value="1" selected="selected">头像1</option>
        <option value="2">头像2</option>
        <option value="3">头像3</option>
        <option value="4">头像4</option>
    </select>
    <br/><br/>
    <input type="checkbox" ng-model="myAgree"/>我同意本站条款！！！
    <button class="btn btn-danger" ng-disabled="!myAgree">确定</button>   <!--ng-disabled禁用-->
</div>
<script>
    angular.module("Md1",[]).controller("Mc1",function($scope){
     $scope.$watch("date",function(){
            console.log($scope.date)
        })
        $scope.a=0//默认值
        $scope.b=0//默认值
        $scope.title=1//默认值
    })
</script>
</body>
</html>